black==25.1.0
Eel==0.18.1
pyinstaller==6.11.1
requests==2.32.3
gevent>=23.9.0 # not directly required, pinned by Snyk to avoid a vulnerability
setuptools>=70.0.0 # not directly required, pinned by Snyk to avoid a vulnerability
