altgraph==0.17.3
black==23.7.0
bottle==0.12.25
bottle-websocket==0.2.9
cffi==1.15.1
click==8.1.4
colorama==0.4.6
Eel==0.16.0
future==0.18.3
gevent==23.7.0
gevent-websocket==0.10.1
greenlet==2.0.2
mypy-extensions==1.0.0
packaging==23.1
pathspec==0.11.1
pefile==2023.2.7
platformdirs==3.9.1
pycparser==2.21
pyinstaller==5.13.0
pyinstaller-hooks-contrib==2023.5
pyparsing==3.1.0
pywin32==306
pywin32-ctypes==0.2.2
tomli==2.0.1
whichcraft==0.6.1
zope.event==5.0
zope.interface==6.0
setuptools>=65.5.1 # not directly required, pinned by Snyk to avoid a vulnerability
