html {
  text-align: center;
  font-family: Segoe UI;
  background: #0f111a;
  color: #ffffff;
}

button,
a {
  background: #46111a;
  color: #ffffff;
  font-family: Segoe UI;
  font-size: 18px;
  border: 1px solid #46111a;
  border-radius: 56px;
  margin: 0.5rem;
  padding: 0.3rem;
  transition: 0.5s;
  cursor: pointer;
  text-decoration: none;
  display: flex;
}

a {
  width: 188px;
}

button:hover,
a:hover {
  background: #89ddff;
  color: #000000;
  border: 1px solid #89ddff;
}
