html{
    text-align: center;
    font-family: Calibri;
    background: #0f111a;
    color: #FFFFFF;
}
button, a{
    background: #46111a;
    color: #FFFFFF;
    font-size: 18px;
    border: 1px solid #46111a;
    border-radius: 5.5px;
    margin: 5px;
    padding : 6px;
    transition: 0.5s;
    cursor: pointer;
    text-decoration: none;
}
button:hover, a:hover{
    background: #89ddff;
    color: #000000;
    border: 1px solid #89ddff;
}
input{width: 350px;}

p{font-size: 30px;}
